
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #212121;
$darkGray: #313131;
$gray: #616161;
$lightGray: #eee;
$white: #fff;

// Font stacks
$background_color: #fff;
$body_font: 'Open Sans', sans-serif;
$font_size: 16px;
$font_color: #212121;

$heading_font: 'Open Sans', sans-serif;;
$heading_color: #212121;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}